//Fonts
$font-family-main: 'Source Sans Pro', sans-serif;
$font-family-alt: 'Playfair Display', serif;

//Colors
$pink: #fb929e;
$blue: #aedefc;
$white: #fff6f6;
$pink-light: #ffdfdf;

//Spacing
$indent-md: 15px;
$indent-lg: 25px;
$indent-xl: 35px;

//Font-size

//Responsive Breakpoints
$screen-md: 768px;
$screen-lg: 1100px;
$screen-xl: 1400px;
