
.header {
    &__container {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        user-select: none;
        pointer-events: none;

        padding: $indent-md;

        @include breakpoint-lg {
            padding: $indent-lg;
        }

        @include breakpoint-xl {
            padding: $indent-xl;
        }
    }
    &__logo {
        height: 100%;
        &--wrapper {
            width: auto;
            height: 96px;
        }
    }
}