
.hero {
    &__container{
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    &__line {
        text-align: center;

        flex: 1;


        // &:nth-child(odd){
        //     text-align: right;
        // }
    }
}