.section {
    &__wrapper {
        background-color: $white;
        display: flex;
        flex: 1;

    }
    &__container {
        display: flex;
        padding: $indent-md;
        max-width: 1400px;
        margin: 0 auto;

        box-sizing: border-box;
        @include breakpoint-lg {
            padding: $indent-lg;
        }
        @include breakpoint-xl {
            padding: $indent-xl;
        }
        &.centered {
            justify-content: center;
            align-items: center;
        }
        &.column {
            flex-direction: column;
        }
    }
    &__list {
        &--item {}
    }
}