@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff6f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  margin-top: 1em;
}

h1 {
  font-size: 3.825rem;
}

h2 {
  font-size: 3.375rem;
}

h3 {
  font-size: 2.925rem;
}

h4 {
  font-size: 2.7rem;
}

h5 {
  font-size: 2.475rem;
}

h6 {
  font-size: 2.25rem;
}

hr {
  width: 100%;
}

a {
  color: initial;
  text-decoration: initial;
  -webkit-transition: 350ms;
  transition: 350ms;
}

a:hover {
  color: #d40429;
}

a,
p {
  font-size: 1.25rem;
}

li {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

li > a {
  font-size: 1.25rem;
}

i {
  font-style: italic;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text-center {
  text-align: center;
}

.header__container {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

@media screen and (min-width: 1100px) {
  .header__container {
    padding: 25px 25px 0;
  }
}

@media screen and (min-width: 1400px) {
  .header__container {
    padding: 35px 35px 0;
  }
}

.header__logo {
  height: 100%;
}

.header__logo--wrapper {
  width: auto;
  height: 96px;
  display: inline-block;
}

.header__logo--wrapper path {
  -webkit-transition: 350ms;
  transition: 350ms;
}

.header__logo--wrapper:hover path {
  fill: #d40429;
}

.header__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list-element {
  display: block;
  width: 100%;
  text-align: right;
  margin: 0.25rem 0;
}

@media screen and (min-width: 768px) {
  .header__list-element {
    width: auto;
    margin: 0 1rem;
  }
}

.header__link {
  display: block;
  height: 100%;
}

.header__link.active {
  color: #d40429;
  text-decoration: underline;
}

.hero__container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.hero__line {
  text-align: center;
}

.hero__line--link {
  -webkit-transition: 350ms;
  transition: 350ms;
  display: inline-block;
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  margin: 0.75rem 0;
}

.hero__line--link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  padding: 0.3rem 0;
  text-decoration: underline;
}

.section__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  max-width: 1400px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

@media screen and (min-width: 1100px) {
  .section__container {
    padding: 25px;
  }
}

@media screen and (min-width: 1400px) {
  .section__container {
    padding: 35px;
  }
}

.section__container.centered {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__container.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__container p {
  padding: 1rem 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.section__container a,
.section__container p {
  letter-spacing: 0.075rem;
  line-height: 1.5;
}

.section__container a {
  text-decoration: underline;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
